
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f1f1f1;
    padding:20px;
    background-image: url("https://th.bing.com/th/id/OIP.ovojhxqNgW_niyB1lA6HSAHaEo?w=278&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7"); /* Replace 'path/to/image.jpg' with the actual path to your image */
    background-repeat: no-repeat; /* This will prevent the image from repeating */
    background-size: cover; /* This will make the image cover the entire background */
}

#main-heading{
    text-align:center;
    color:white;
}
.grid-container{
    display:grid;
    column-gap: 10px;
    row-gap: 10px;
    padding:10px;
}

#todo-list,#todo-date{
    font-size: 15px;
    padding:10px 5px;
    border:1px solid #ccc;
}
.btn-delete{
    background-color:red;
    color:white;
    padding:10px 5px;
    border:1px solid #ccc;
    border-radius: 10px;
    cursor:crosshair;

}
.btn-todo{
    background-color:blue;
    color:white;
    padding:10px 5px;
    border:1px solid #ccc;
    cursor:pointer;
    border-radius: 10px;
}

